.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .circle-container {
    animation: circle-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.illusion-container {
  /* border: 1px solid white; */
  width: 60vh;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illusion-container-delboeuf {
  /* border: 1px solid white; */
  width: 50vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav a {
  position: absolute;
  left: -130px;
  transition: 0.5s;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  opacity: 0.6;
}

.sidenav a:hover {
  left: 0;
  opacity: 1;
}

#delboeuf {
  top: 116px;
  background-color: #4da8ff;
  color: black;
}

#ebbinghaus {
  top: 20px;
  background-color: #b3daff;
  color: black;
}

#ponzo {
  top: 68px;
  background-color: #80c1ff;
  color: black;
}

.init-circle {
  display: 'inline-block';
  background-color: yellow;
  border-radius: 50%;
  display: block;
  position: absolute;
  width: 10vh;
  height: 10vh;
}

.surround-circle {
  display: 'inline-block';
  background-color: purple;
  border-radius: 50%;
  display: block;
  position: absolute;
  width: 15vh;
  height: 15vh;
}

.surround-circle-small {
  display: 'inline-block';
  background-color: purple;
  border-radius: 50%;
  display: block;
  position: absolute;
  width: 5vh;
  height: 5vh;
}

.circle-container img {
  display: block;
  width: 50%;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftLine {
  background-color: purple;
  height: 50vh;
  width: 5px;
  transform: rotate(20deg);
}

.rightLine {
  background-color: purple;
  height: 50vh;
  width: 5px;
  transform: rotate(160deg);
}

.tracks {
  position: absolute;
  transform: rotate(90deg);
  width: 5px;
  background-color: purple;
}

.topTrack {
  position: absolute;
  transform: rotate(90deg);
  width: 5px;
  background-color: yellow;
}

.bottomTrack {
  position: absolute;
  transform: rotate(90deg);
  width: 5px;
  background-color: yellow;
}

#deg0 {
  transform: translate(6em);
}
#deg30 {
  transform: rotate(30deg) translate(6em) rotate(-30deg);
}
#deg60 {
  transform: rotate(60deg) translate(6em) rotate(-60deg);
}
#deg90 {
  transform: rotate(90deg) translate(6em) rotate(-90deg);
}
#deg120 {
  transform: rotate(120deg) translate(6em) rotate(-120deg);
}
#deg150 {
  transform: rotate(150deg) translate(6em) rotate(-150deg);
}
#deg180 {
  transform: translate(-6em);
}
#deg210 {
  transform: rotate(210deg) translate(6em) rotate(-210deg);
}
#deg240 {
  transform: rotate(240deg) translate(6em) rotate(-240deg);
}
#deg270 {
  transform: rotate(270deg) translate(6em) rotate(-270deg);
}
#deg300 {
  transform: rotate(300deg) translate(6em) rotate(-300deg);
}
#deg330 {
  transform: rotate(330deg) translate(6em) rotate(-330deg);
}

#deg0s {
  transform: translate(4em);
}
#deg30s {
  transform: rotate(30deg) translate(4em) rotate(-30deg);
}
#deg60s {
  transform: rotate(60deg) translate(4em) rotate(-60deg);
}
#deg90s {
  transform: rotate(90deg) translate(4em) rotate(-90deg);
}
#deg120s {
  transform: rotate(120deg) translate(4em) rotate(-120deg);
}
#deg150s {
  transform: rotate(150deg) translate(4em) rotate(-150deg);
}
#deg180s {
  transform: translate(-4em);
}
#deg210s {
  transform: rotate(210deg) translate(4em) rotate(-210deg);
}
#deg240s {
  transform: rotate(240deg) translate(4em) rotate(-240deg);
}
#deg270s {
  transform: rotate(270deg) translate(4em) rotate(-270deg);
}
#deg300s {
  transform: rotate(300deg) translate(4em) rotate(-300deg);
}
#deg330s {
  transform: rotate(330deg) translate(4em) rotate(-330deg);
}

.ebbinghaus {
  display: flex;
  flex-direction: row;
}

.illusion-tools {
  margin-top: 10vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.illusion-tools-delboeuf {
  margin-top: 10vh;
  margin-left: 20vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.illusion-explanation {
  text-align: justify;
  margin-right: 150px;
  margin-left: 150px;
}

@keyframes circle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
